/*----------------------------------------------------------
btn
------------------------------------------------------------*/

.c-btn1 {
    text-align: right;
    &__txt {
        display: inline-block;
        text-decoration: none;
        background: #0d6efd;
        border: 2px solid #0d6efd;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 2rem;
        line-height: 1.5;
        color: #fff;
        font-weight: bold;
        padding: 5px 20px 5px 40px;
        position: relative;
        @include sp {
            font-size: 1.4rem;
            padding: 5px 10px 5px 30px;
        }
        &::before {
            content: '';
            width: 30px;
            height: 30px;
            background: url('../../images/icon-plus-white.svg') no-repeat center;
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translate(0, -50%);
            transition: all 0.3s ease-in-out;
            @include sp {
                width: 20px;
                height: 20px;
                left: 5px;
            }
        }
        @include hover {
            background: #fff;
            color: #0d6efd;
            &::before {
                background: url('../../images/icon-plus.svg') no-repeat center;
                background-size: cover;
            }
        }
    }
}

//------------------------------------------------------------------
.c-btn2 {
    &__txt {
        display: inline-block;
        text-decoration: none;
        background: #0d6efd;
        border: 2px solid #0d6efd;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 2rem;
        line-height: 1.5;
        color: #fff;
        font-weight: bold;
        padding: 5px 20px 5px 35px;
        position: relative;
        @include sp {
            font-size: 1.4rem;
            padding: 5px 10px 5px 25px;
        }
        &::before {
            content: '';
            width: 10px;
            height: 10px;
            border-top: 2px solid #fff;
            border-left: 2px solid #fff;
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translate(0, -50%) rotate(-45deg);
            transition: all 0.3s ease-in-out;
            @include sp {
                width: 6px;
                height: 6px;
                left: 10px;
            }
        }
        @include hover {
            background: #fff;
            color: #0d6efd;
            &::before {
                border-color: #0d6efd;
            }
        }
    }
}