/*----------------------------------------------------------
title
------------------------------------------------------------*/

.c-title1 {
    text-align: center;
    font-size: 3rem;
    color: #3964a1;
    font-weight: bold;
}

//----------------------------------------------------------
.c-title2 {
    text-align: center;
    font-size: 4rem;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
}